.saved-news {
  --primary-color: #1a1b22;
  color: var(--primary-color);
}

.saved-news__content {
  padding: 80px 16px 20px;
  background-color: #fff;
}

.saved-news__content_articles {
  padding: 24px 16px;
  background-color: #f5f6f7;
}

@media screen and (min-width: 768px) {
  .saved-news__content_articles {
    padding: 32px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .saved-news__content_articles {
    padding: 62px 104px;
  }
}