.header {
  --primary-color: #1a1b22;
  --regular-bg-color: rgba(196, 196, 196, 0.01);
  --chosen-color: #fff;

  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  height: 56px;

  background-color: var(--regular-bg-color);;
  color: var(--chosen-color);
  box-shadow: inset 0px -1px 0px #d1d2d6;

  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear
}

.header_saved-news {
  --chosen-color: var(--primary-color);
  --regular-bg-color: #fff;
}

.header_expanded {
  z-index: 0;
}

.header_expanded::after {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header_state_expanded-main {
  background-color: var(--primary-color);
}

.header_state_expanded-saved-news {
  background-color: var(--regular-bg-color);
}

.header__primary-wrap {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 16px;

  background-color: inherit;
  box-shadow: inherit;
}

.header__app-name {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--chosen-color);
}

.header__menu-btn {
  box-sizing: border-box;

  display: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  
  cursor: pointer;
  background-color: transparent;
}

.header__menu-btn_expand-btn {
  padding: 8px 4px;
}

.header__menu-btn_shown {
  display: inline-block;
}

.header__collapse-icon {
  fill: var(--chosen-color);
  pointer-events: none;
}

.header__hamburger-line {
  display: block;
  height: 0;
  border: 1px solid var(--chosen-color);
  margin-bottom: 4px;
}

.header__hamburger-line:last-of-type {
  margin: 0;
}

.header__nav {
  box-sizing: border;
  position: absolute;
  top: 100%;
  left: auto;

  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 0;

  overflow-y: hidden;

  visibility: hidden;
  opacity: 0;

  background-color: inherit;

  transition: inherit;
}

.header__nav_shown {
  visibility: visible;
  opacity: 1;
  max-height: 1000px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
    align-items: stretch;

    height: 66px;
    
    background-color: var(--regular-bg-color);
    transition: none;
  }
  
  .header_expanded::after {
    visibility: hidden;
    opacity: 0;
  }

  .header__primary-wrap {
    width: fit-content;
    flex-grow: 1;
    padding: 0;
    padding-left: 40px;
  }

  .header__app-name {
    width: 200px;

    font-size: 20px;
    line-height: 1.2;
  }

  .header__menu-btn_shown {
    display: none;
  }

  .header__nav {
    position: static;
    width: fit-content;
    flex-grow: 1;
    padding: 0;
    padding-right: 40px;

    justify-content: flex-end;
    max-height: none;
    visibility: visible;
    opacity: 1;

    box-shadow: inherit;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 80px;
  }

  .header__primary-wrap {
    padding-left: 104px;
  }
  .header__nav {
    padding-right: 104px;
  }
}