.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__list-link {
  box-sizing: border-box;

  display: inline-block;
  width: 288px;
  padding: 16px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: currentColor;
  text-decoration: none;
}

.nav__list-link_button {
  border: 1px solid currentColor;
  border-radius: 100px;

  text-align: center;
}

.nav__logout-icon {
  vertical-align: middle;
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    align-items: stretch;
  }

  .nav__list-item {
    position: relative;

    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .nav__list-item:last-of-type {
    margin-right: 0;
  }

  .nav__list-link {
    width: auto;
    padding: 0;

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  
  .nav__list-link_active::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 0;
    width: 100%;
    border-bottom: 3px solid currentColor;
  }

  .nav__list-link_button {
    padding: 8px 0;
  }

  .nav__list-link_type_home {
    width: 64px;
  }

  .nav__list-link_type_sign-in {
    width: 152px;
  }

  .nav__list-link_type_saved-news {
    width: 160px;
  }

  .nav__list-link_type_logout {
    width: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .nav__list-item {
    margin-right: 0;
  } 

  .nav__list-item_type_sign-in {
    margin-left: 34px;
  }

  .nav__list-item_type_saved-news {
    margin: 0 76px 0 64px;
  }
  
  .nav__list-link {    
    margin: 0;

    font-size: 18px;
    line-height: 1.33;
  }

  .nav__list-link_button {
    padding: 12px 0;
  }

  .nav__list-link_type_home {
    width: auto;
  }

  .nav__list-link_type_sign-in {
    width: 176px;
  }

  .nav__list-link_type_saved-news {
    width: auto;
  }

  .nav__list-link_type_logout {
    width: 112px;
  }
}